
div * {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:16px;
  color: rgb(4, 4, 19);
  margin:5px;
  display: block;
  position: relative;
}

section {
  color:#000000;
  background-color: hsla(194, 21%, 64%, 1);
  margin: 1px 15px 1px 15px;
  align-self: center;
  border-style: dashed;
  border-color:black;
  border-width: 1px;
  padding:10px;
  width:92vw;
  min-width:500px;
  position: relative;
  

}
img {
  width: 500px;
}

a:hover{
  color:red;
  background: yellow;
}

#Comments{
  min-width:200px;
  min-height:100px;
  max-width:500px;
  max-height:300px;
}

header, footer {
  border: 1px solid red;
  border-radius: 1%;
  padding-top: 10px;
  padding-bottom: 1px;
  padding-right:1px;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom:5px;
  margin-left:5px;
  margin-right:5px;
  text-align:center;
  position: static;
}

footer{
  text-decoration: line-through;
  font-family:monospace ;
}


li {
  font-size: .75em;
  padding: 1px 1px 4px 4px;
  
}

nav{
  padding: 15px;
  margin: .2em;
  display:flex;
  justify-content: center;
  flex-grow: 4;
  flex-wrap: nowrap;
  align-items:flex-start;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

nav a{
  padding-left:5px;
  padding-right:5px;
  align-self:auto;
  flex-shrink: 1;
  flex-grow: 2;
}

.MeetingRecordings{
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 4;
}

.MeetingRecordings video{
  grid-column-start: 1;
  grid-column-end:1;
  grid-row-start: 2;
  grid-row-end:2;
}

.MeetingRecordings audio{
  grid-column-start: 1;
  grid-column-end:1;
  grid-row-start: 4;
  grid-row-end: span 4;
}

@media (max-width:1000px){
  a:hover{
    color:yellow;
    background:black;
  }
}

a[href=""]:hover{
  background-color: black;
}